@model IEnumerable<OvertimeManagement.ViewModel.EmployeeDisplayViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "LIST OF THE EMPLOYEE DATA";
    var numberOfData = 0;
}

<h3>@ViewBag.Title</h3>

<p>
    <button id="btnCreateEmployee" class="btn btn-primary pull-right">Add New</button>
</p>
<table class="table">
    <tr>
        <th>No.</th>
        <th>NIK</th>
        <th>Name</th>
        <th>Department Name</th>
        <th>Position Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        numberOfData++;

        <tr>
            <td>
                @numberOfData
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                <button id="btnEditEmployee_@item.EmployeeID" class="btn btn-warning"><i class="fa fa-edit"></i></button> |
                <button id="btnDeleteEmployee_@item.EmployeeID" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    }

</table>

@section scripts {

<!-- Modal container for Employee Form -->
<div id="employeeModalContainer"></div>

    @Scripts.Render("~/bundles/adminlte")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnCreateEmployee').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    url: '/Employees/Create',
                    type: 'GET',
                    success: function (data) {
                        $('#employeeModalContainer').html(data);
                        $('#employeeDetailModal_').modal('show'); 
                        $('input[id^="NIK_"]').prop("readonly", false);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading form:', error);
                        alert('Failed to load the form');
                    }
                });
            });

            $('button[id^="btnEditEmployee_"]').on('click', function (e) {
                e.preventDefault();
                let btnID = $(this).attr("id");
                let employeeID = btnID.replace('btnEditEmployee_', '');
                console.log(employeeID);

                $.ajax({
                    url: '/Employees/Edit/' + employeeID,
                    type: 'GET',
                    success: function (data) {
                        $('#employeeModalContainer').html(data);
                        $('div[id^="employeeDetailModal_"]').modal('show'); 
                        $('input[id^="NIK_"]').prop("readonly", true);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading form:', error);
                        alert('Failed to load the form');
                    }
                });
            });
        });
    </script>
}
