@model IEnumerable<OvertimeManagement.ViewModel.EmployeeDisplayViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "List of the Employee Data";
    var numberOfData = 0;
}

<h3 class="page-title">@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    <div style="display:none">
        @Html.AntiForgeryToken()
    </div>
}

<div class="pull-right mb-2">
    <button id="btnCreateEmployee" class="btn btn-primary btn-sm">Add New</button>
</div>
<br />
<table class="table table-striped table-bordered" id="employeeTable">
    <thead>
        <tr>
            <th>No.</th>
            <th>NIK</th>
            <th>Name</th>
            <th>Department Name</th>
            <th>Position Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            numberOfData++;

            <tr>
                <td>
                    @numberOfData
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionName)
                </td>
                <td>
                    <button id="btnEditEmployee_@item.EmployeeID" class="btn btn-warning"><i class="fa fa-edit"></i></button> |
                    <button id="btnDeleteEmployee_@item.EmployeeID" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {

    <!-- Modal container for Employee Form -->
    <div id="employeeModalContainer"></div>

    @Scripts.Render("~/bundles/adminlte")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#employeeTable').DataTable({
                pageLength: 10,
                lengthMenu: [5, 10, 25, 50],
                searching: true,
                ordering: true,
                responsive: true,
                language: {
                    paginate: {
                        previous: '&laquo;',
                        next: '&raquo;'
                    }
                }
            });

            $('#btnCreateEmployee').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    url: '/Employees/Create',
                    type: 'GET',
                    success: function (data) {
                        $('#employeeModalContainer').html(data);
                        $('#employeeDetailModal_').modal('show');

                        $('.select2').select2({
                            dropdownParent: $('div[id^="employeeDetailModal_"]'),
                            width: '100%',
                            placeholder: "Select an option",
                            allowClear: true
                        });

                        $('input[id^="NIK_"]').prop("readonly", false);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading form:', error);
                        alert('Failed to load the form');
                    }
                });
            });

            $('button[id^="btnEditEmployee_"]').on('click', function (e) {
                e.preventDefault();
                let btnID = $(this).attr("id");
                let employeeID = btnID.replace('btnEditEmployee_', '');
                console.log(employeeID);

                $.ajax({
                    url: '/Employees/Edit/' + employeeID,
                    type: 'GET',
                    success: function (data) {
                        $('#employeeModalContainer').html(data);
                        $('div[id^="employeeDetailModal_"]').modal('show');

                        $('.select2').select2({
                            dropdownParent: $('div[id^="employeeDetailModal_"]'),
                            width: '100%',
                            placeholder: "Select an option",
                            allowClear: true
                        });

                        $('input[id^="NIK_"]').prop("readonly", true);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading form:', error);
                        alert('Failed to load the form');
                    }
                });
            });

            $('button[id^="btnDeleteEmployee_"]').on('click', function (e) {
                e.preventDefault();
                let btnID = $(this).attr("id");
                let employeeID = btnID.replace('btnDeleteEmployee_', '');

                if (confirm('Are you sure you want to delete this data?')) {
                    $.ajax({
                        url: '/Employees/Delete/' + employeeID,
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                        },
                        success: function () {
                            alert('Data deleted successfully.');
                            location.reload();
                        },
                        error: function () {
                            alert('Failed to delete data.');
                        }
                    });
                }
            });
        });
    </script>
}
